body{
    background-color: lightgray;
}

main .container h1{
    font-size: 68px;
}

main .container p{
    font-size: 18px;
}

main .list-container .card-body{
    padding: 5px;
    font-size: 18px;
}

  main .list-container .card-body svg:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 9px rgba(255, 196, 0, 0.8)
    ;
}  